<div id="app" data-state="small">
  <div class="details">
    <h1>In Your Mind</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not
    </p>
  </div>

  <figure class="hero">
    <div class="hero-inner">
      <img
        class="hero-image"
        src="https://source.unsplash.com/so5nsYDOdxw/1200x600"
        [style.opacity]="!isPlaying ? 1 : 0"
      />
      <video
        class="w-100 h-100"
        controls
        [style.display]="isPlaying ? 'block' : 'none'"
        #videoPlayer
      >
        <source
          src="../../../assets/videos/video-slider-videos/Arya Kills The Night King (Alternative Version).mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="play"></div>
    <figcaption class="hero-details">
      <div class="hero-details-inner">
        <div class="graph"></div>
        <strong>Vote: 9/10 </strong>
      </div>
    </figcaption>
  </figure>
</div>
