<div class="video-player" data-state="small">
  <div class="video-player__details">
    <h1>In Your Mind</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not
    </p>
  </div>
  <figure class="hero">
    <div class="hero__inner">
      <img
        src="../../../assets/images/main-background-1.jpg"
        alt="hero"
        class="hero__image"
      />
    </div>
    <div class="btn-play"></div>
    <figcaption class="hero-details">
      <div class="hero-details__inner">
        <div class="graph"></div>
      </div>
      <strong class="votion-txt">Vote: 9/10</strong>
    </figcaption>
  </figure>
</div>
