<div class="main-bcground">
  <ng-container *ngFor="let id of sliderItems; let i = index">
    <img
      *ngIf="id === counter"
      src="../../../assets/images/main-background-{{ id }}.jpg"
      alt=""
      srcset=""
      sizes="(max-width:760px) 100vw"
      class="w-100"
    />
  </ng-container>

  <div class="abs-center d-flex flex-column justify-content-center">
    <p class="">Listen Latest Music</p>
    <button type="button" class="btn btn-transparent">Discover</button>
  </div>
</div>

<ul class="social-icons mt-3 d-flex justify-content-center">
  <li class="social-icons__item">
    <a class="pushable" href="#"
      ><i class="fa fa-facebook social-icon" area-hidden="true"></i>
    </a>
  </li>
  <li class="social-icons__item">
    <a class="pushable" href="#"
      ><i class="fa fa-youtube social-icon" area-hidden="true"></i>
    </a>
  </li>
  <li class="social-icons__item">
    <a class="pushable" href="#"
      ><i class="fa fa-instagram social-icon" area-hidden="true"></i>
    </a>
  </li>
  <li class="social-icons__item">
    <a class="pushable" href="#"
      ><i class="fa fa-linkedin social-icon" area-hidden="true"></i>
    </a>
  </li>
</ul>
